<!DOCTYPE HTML>
<html>
  <head>
    <title>Sign-in</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1 class="centered yellow_text">Please enter your name to begin playing!</h1>
    <div class="centered_div">
      <form action="/name" method = "post">
        <label for="player_1">Name:</label>
        <input type="text" name="player_name">
        <button type="submit">Start Game</button>
      </form>
    </div>
    <img class="banner" src="/rpslogo.png"/>
  </body>
</html>
