<!DOCTYPE HTML>
<html>
  <head>
    <title>Rock-Paper-Scissors</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1 class="centered yellow_text"><%= @game.player1.name %> vs. <%= @game.player2.name %></h1>
    <h2 class="centered red_text">Choose your move!</h2>
    <div class="centered_div3">
      <form action="/result" method="post">
        <button class="blue" type="submit" name="attack_choice" value="rock">Rock</button>
        <button class="yellow" type="submit" name="attack_choice" value="paper">Paper</button>
        <button class="red" type="submit" name="attack_choice" value="scissors">Scissors</button>
      </form>
    </div>
    <img class="banner" src="/rpslogo.png"/>
  </body>
</html>
